.container {
  width: 70%;
  margin-left: 500px;
  position: absolute;

}

header {
  span.category {
    display: block;
    margin-top: 2rem;

    font-size: 2.25rem;
    font-weight: 600;
    color: var(--gray);
  }

  span {
    color: var(--white);
  }
}

main {
  margin-top: 5.625rem;

  .movies-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4.75rem;
    list-style: none;
  }

  @media (max-width: 1280px) {
    .movies-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5rem;
      list-style: none;
    }
  }
  @media (max-width: 768px) {
    .movies-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5rem;
      list-style: none;
    }
  }
}